# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dcb2419793d489f32983d0f636fee12df738d6c5330009a576b234cf41d44cddf5a4270c57693d88b6f13d77ff7ecff491ad5fa593751c1eb72cb694904b1d51
  slack_token: "67890"
  slack_key: "abc"
  slack_secret: "def"
  intercom_secret: 123abc

test:
  secret_key_base: 0aac4318588a1cb05ab471df4f23d33d7d211712bb441d9756c546806d33611a50f73eb82ef616deb5f00beddd0ab370abb12260db95808be11fac7ab4e19002
  slack_token: "67890"
  slack_key: "abc"
  slack_secret: "def"
  intercom_secret: 123abc