development:
  eyeson_api: http://localhost:3001/api/v2
  eyeson_email: ""
  eyeson_pwd: ""
  slack_token: ""

integration:
  eyeson_api: https://app.dev-visocon.com/api/v2
  eyeson_email: ""
  eyeson_pwd: ""
  slack_token: ""